.color-box,
.append-box {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid black;
}

.palette-button {
  display: block;
}

#remove {
  display: inline-block;
}

#remove:hover {
  cursor: pointer;
}
